@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



.radin {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}
.head{
    margin-top: 0px;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left bottom;
    background-color: #FFF8F3;
    
}
nav ul li{
    list-style: none;
    display: flex;

    align-items: center;
    
    
    
}
.dark-2{
    color: #474747;
}
#man{
    font-weight: 800;
    font-size: 45px;
}
#op{
    color: #FD6E0A;
}

nav li a{
    text-decoration: none;
    margin-right: 51px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 50px;

}
.olu{
    display: flex;
    gap: 50px;
}
.btn{
    padding: 20px;
    background-color: #FD6E0A;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
    
}
.banner{
    display: flex;
    padding: 0 34px 0 280px ;
}
.banner-g{
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 0;
}
.banner-t{
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about{
    background-color: #FFF8F3;
    max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 10px;
    text-align: center;
}
.ab-t{
    color: #181818;
    font-weight: bold;
    font-size: 35px;
    
}
.items-a{
    padding:130px 150px;
}
.a-p{
    color: #757575;
    font-size: 18px;

}
.adi{
    font-weight: bold;
    font-size: 20px;

}
.add{
    display: flex;
    justify-content: space-around;
    padding-bottom: 131px;
}
.adt{
    color: #474747;

}
.decon{
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-right: 230px;
    margin-left: 230px;
}
.skill-t{
    font-weight: bold;
    font-size: 20px;
}
.skill{
    max-height: 377px;
    width: 267px;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 130px;
}
.skill-d{
    color: #757575;
    text-align: justify;
}
.re-c{
    display: flex;
    gap: 24px;
    padding: 230px 250px;
    margin-bottom: 0;
}
.subtit{
    color: #757575;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0px;

}
.re-de{
    color: #757575;

}
.retit{
    color:#474747;
    font-size: 25px;
}
.ui{
    font-size: 30px;
}
.di{
    text-align: center;
    
    margin-bottom: 200px;
}
.footer{
    display: flex;
    gap: 117px;
    background-color: #FFF8F3;
    padding: 170px;
}
.r-d-t{
    text-align: center;
    font-size: 35px;
    margin-top: auto;
    margin-bottom: auto;
}
.foot-r{
    
    
    
}
.form{
    display: block;
    
}
.fi{
    padding: 30px 200px 30px 30px;
    
    color: #757575;
    border-radius: 5px;
    margin-bottom: 24px;
}
.ftt{
    font-size: 35px;
}